.mui-form-field {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .mui-form-field[data-width] {
    width: var(--mui-form-field-width, 50%);
  }
}
/* Ustaw ciemnoszary label dla wszystkich pól, także na focus */
.mui-form-field label,
.mui-form-field label.Mui-focused {
  /* color: #00000099 !important; */
  color: #95a5a6 !important;
}

.mui-form-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
} 

.mui-form-field .MuiFormLabel-asterisk {
  color: #dc3545;
}

.mui-form-field :hover fieldset {
  color: #ff6600 !important;
  border-color: #ff6600 !important;
}

.Mui-focused fieldset {
  color: #ff6600 !important;
  border-color: #ff6600 !important;
}

.Mui-focused:hover fieldset {
  color: #ff6600 !important;
  border-color: #ff6600 !important;
}

.mui-form-field-error {
  color: #d32f2f;
  font-size: 12px;
}
